@import "tailwindcss";

* {
    font-family: 'Futura Md BT';
}


html::-webkit-scrollbar {
    @apply bg-white w-3;
}

html::-webkit-scrollbar-thumb {
    @apply bg-black;
}

.container-wrapper {
    @apply flex justify-center;
}

section.container-wrapper {
    @apply mt-[6rem] max-[426px]:mt-16;
}

.container {
    @apply max-w-[1280px] mx-8 max-[426px]:mx-4 max-[321px]:mx-3;
}

.section-heading {
    @apply font-bold text-3xl max-[426px]:text-2xl relative w-fit pb-3;
}

.section-heading::after {
    @apply content-[""] h-1 w-[50%] bg-black absolute left-0 bottom-0;
}

.navbar {
    @apply max-[769px]:translate-y-[-100%] max-[769px]:duration-500;
}

.navbar.show {
    @apply translate-y-[0] opacity-100 pointer-events-auto;
}

.nav-link {
    @apply text-lg max-[769px]:py-4 duration-200 cursor-pointer max-[769px]:hover:bg-gray-300 max-[769px]:text-black max-[769px]:px-2 text-gray-500 font-medium relative h-fit py-1;
}

.nav-link.active {
    @apply text-black min-[769px]:pb-1 max-[769px]:bg-black max-[769px]:text-white text-xl;
}

.nav-link .border {
    @apply duration-200 h-[3px] max-[769px]:hidden scale-x-0 w-[20px] hover:w-full bg-gray-500 absolute left-[50%] translate-x-[-50%] bottom-0;
}

.nav-link.active .border,
.nav-link:hover.nav-link .border {
    @apply scale-x-100 bg-black;
}

.stack-track {
    animation: scroll 30s linear infinite; 
}

@keyframes scroll {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-50%);
    }
}

.stack-track .logo {
    @apply mx-24 max-[1025px]:mx-16 max-[426px]:mx-12;
}

.about-tech-stack {
    @apply flex ml-2 font-medium gap-4 flex-wrap;
}

.about-tech-stack span {
    @apply border px-3 py-1 flex items-center;
}

.about-tech-stack span svg {
    @apply text-2xl mr-2;
}

.skill-cat-heading {
    @apply text-xl font-bold mb-3;
}

.skill-list {
    @apply flex mb-4 ml-2 font-medium gap-4 flex-wrap;
}

.service {
    @apply flex border bg-white rounded-3xl border-gray-200 hover:bg-black hover:text-white cursor-default justify-center items-center flex-col p-6 max-[426px]:p-5 h-full;
}

.service svg {
    @apply text-7xl max-[426px]:text-6xl;
}

.service h3 {
    @apply text-2xl max-[426px]:text-xl text-center font-medium mt-6 mb-4;
}

.service p {
    @apply text-center;
}

.work-navlink {
    @apply text-xl font-bold cursor-pointer px-6 max-[426px]:px-0 py-3 max-[426px]:py-4 hover:bg-gray-100 transition-all duration-200 max-[426px]:w-full max-[426px]:text-center;
}

.work-navlink.active {
    @apply text-white bg-black;
}

.project .image {
    @apply overflow-hidden w-full brightness-95 h-[20rem] max-[426px]:h-56 relative;
}

.project .image .project-img {
    @apply object-cover object-center absolute size-full duration-300;
}

.project:hover .project-img {
    @apply scale-110 brightness-75;
}

.project .image .project-img-link {
    @apply opacity-0 cursor-pointer pointer-events-none absolute top-[50%] left-[50%] translate-[-50%] text-white text-5xl;
}

.project:hover .project-img-link {
    @apply opacity-100 pointer-events-auto;
}

.project h2 {
    @apply text-2xl max-[426px]:text-xl font-bold mt-4;
}

.project p {
    @apply font-medium my-4;
}

.project .tags {
    @apply flex gap-4 mb-6 max-[426px]:mb-3 flex-wrap;
}

.project .tags span {
    @apply border-2 rounded-full text-sm font-medium px-2.5;
}

.project .btns {
    @apply flex flex-wrap gap-4 max-[426px]:gap-2 justify-between;
}

.contact-medium {
    @apply border-2 cursor-pointer border-black rounded-full px-3 bg-white hover:bg-black hover:text-white py-1 flex items-center gap-2 w-fit;
}

.contact-medium span {
    @apply text-lg;
}

.contact-medium svg:nth-child(2) {
    @apply text-xl;
}
